/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--Yellow:#F6D64A;
	--Teal:#55BCD5;
	--Purple:#0c0c0c;
	--Blue:#499BD2;
	--Dark-Gray:#222222;
	--Light-gray:#EAEAEA;
	--White:#FFFFFF;
	--Black:#000000;
	--font-molle: 'Molle', cursive;
	--font-montserrat:'Montserrat', sans-serif ;
	font-size: 16px;
}

#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
  }
   
#skip:focus{
	position: static;
	width: auto;
	height: auto;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	font-family: var(--font-montserrat);
	line-height: 1.25;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	background-color: white;
	background: linear-gradient(to bottom, teal, white);
	color: black;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	padding-top: 0.5rem;
	padding-left: 2rem;
	width: calc(100% - 2rem);
	margin: auto;
	align-items: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #F6D64A;
	height: 40px;
	width: 200px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 2rem;
	box-sizing: border-box;
}

#menu-toggle {
    text-align: right;
    padding: 10px 10px;
	width: 200px;
	display: flex;
	align-items: center;
}

#toggle {
    display: none;
}

label {
    display: block;
    cursor: pointer;
	width: 100%;
	text-align: center;
}

label:focus + ul {
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; 
}

li {
    display: block;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: darkblue;
}

h1, h2, h3 {
	font-family: var(--font-molle);
}

h4, p, q, small, nav, button, form {
	font-family: var(--font-montserrat);
}

h1 {
	font-size: 40px;
}
h2.sr-only {
	display: none;
}

h2 {
	font-size: 40px;
}

#intro {
	
	
}

#img-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}

#img-grid img,
#img-grid picture {
    max-width: 100%;
    height: auto;
    display: block;
}
