/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--Yellow:#F6D64A;
	--Teal:#55BCD5;
	--Purple:#9B26B0;
	--Blue:#499BD2;
	--Dark-Gray:#222222;
	--Light-gray:#EAEAEA;
	--White:#FFFFFF;
	--Black:#000000;
	--font-molle: 'Molle', cursive;
	--font-montserrat:'Montserrat', sans-serif ;
	font-size: 16px;
}

#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
  }
   
#skip:focus{
	position: static;
	width: auto;
	height: auto;
}

body {
    font-family: var(--font-montserrat);
    line-height: 1.75;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--White);
    background: linear-gradient(to bottom, var(--Teal), var(--White));
    color: black;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto auto; 
    align-items: center;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

#logo {
    display: flex;
    justify-content: left;
    grid-row: 1;
}

#logo img {
    width: 100px; 
    height: auto;
}

nav {
    grid-row: 1;
	background-color: var(--Yellow);
    height: 40px;
    width: 200px;
    display: flex;
	justify-content: flex-end;
	align-items: end;
    padding: 0 2rem;
    box-sizing: border-box;
}

nav ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

nav li {
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: black;
}



#toggle:checked + label + ul {
    display: flex;
    flex-direction: column;
}


#menu-toggle {
    text-align: right;
    padding: 10px 10px;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#toggle {
    display: none;
}

label {
    display: block;
    cursor: pointer;
	width: 100%;
	text-align: center;
}

label:focus + ul {
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; 
}

li {
    display: block;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: var(--Black);
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--Light-gray);
}

h1 {
    margin-top: 1rem;
}

h1 + p {
	grid-row: 4;
}

h1, h2, h3 {
	font-family: var(--font-molle);
}

h4, p, q, small, nav, button, form {
	font-family: var(--font-montserrat);
}

h1 {
	font-size: 40px;
}
h2.sr-only {
	display: none;
}

h2 {
	font-size: 40px;
	padding-top: 60px;
}

h2 p {
	padding-bottom: 20px;
}

#intro {
	padding-bottom: 20px;
}

#intro h2 {
	margin: auto;
	width: calc(100% - 4rem);
}

#intro p {
	margin: auto;
	width: calc(100% - 4rem);
	padding-bottom: 10px;
}

img {
	width: 100%;
}

#img-grid {
    width: 100%;
    display: grid;
	gap:.5em;
	
}

#img-grid img,
#img-grid picture {
    max-width: 100%;
    height: auto;
    display: block;
}

#plan {
	background-color: var(--Yellow);
}

#plan div {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0px;
}


#plan section {
	border: 2px solid var(--White);
    background-color: var(--Teal); 
    padding: 10px;
    margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
	flex: 1;
	height: 200px;
	max-width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#plan section:last-child {
    margin-bottom: 20px; /* Remove margin from the last child section */
}

#plan h3 {
	margin: auto;
	width: calc(100% - 3rem);
	font-size: 30px;
}

#plan h4 {
    font-size: 20px; 
    color: var(--Black);  
	font-weight: bold;
	text-align: center;
}

#plan a {
    text-decoration: none;
    color: var(--White); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#plan img {
    max-width: 100%;
	height: 150px;
    margin-bottom: 10px;
	display: block;
	margin: 0 auto;
	padding: 10px; 
	align-items: center;
}

#testimonials h3 {
	margin: auto;
	width: calc(100% - 3rem);
	font-size: 30px;
}

#testimonials div {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 20px;
	justify-content: center;
}

#testimonials section {
	border: 2px solid var(--White);
	padding: 20px;
	border-radius: 10px;
}

#testimonials h4 {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

#testimonials p, q {
	display: grid;
	grid-template-rows: auto auto auto;
	align-items: center;
	text-align: center;
}


#testimonials img {
	max-width: 80%;
	height: auto;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}

#about {
    background-color: var(--Blue);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

#about h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

#about div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#about section {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#about h4 {
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

#about p {
    margin-top: 10px;
}

#about img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

#contact {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
}

#contact h3 {
    font-size: 30px;
    text-align: center;
	white-space: nowrap;
}
#contact h3 span.form-required {
    font-family: var(--font-montserrat);
	font-style: italic;
	font-size: 16px;
}

#contact fieldset legend {
    font-weight: bold;
}

#contact form {
    display: grid;
    gap: 10px;
    max-width: 100%;
    box-sizing: border-box;
	align-items: stretch;
}

#contact label {
    font-weight: bold;
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

#contact input[type="radio"] {
    display: none;
}

#contact .radio-label {
	font-weight: normal;
}
#contact .radio-input {
    width: 50px;
    height: 50px;
    border: 2px solid var(--Purple); /* Purple border */
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

#contact .radio-input::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--Purple); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

#contact input[type="radio"]:checked + .radio-input::before {
    opacity: 1;
}

#contact label {
    font-weight: bold;
	text-align: left;
}

#contact input,
#contact select {
    width: 100%;
    padding: 10px;
	margin-left: 5px;
    margin-bottom: 10px;
    border: 3px solid var(--Purple);
    font-size: 20px;
}

#contact input::placeholder,
#contact select::placeholder {
    font-size: 16px;
    color: var(--Dark-Gray); 
}

#contact .custom-select {
    position: relative;
}

#contact .custom-select select::placeholder {
    font-size: 14px;
    color: var(--Dark-Gray); 
}

#contact select {
    background-color: transparent;
    background-image: url("images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
	padding: 10px 25px 10px 10px;
	width: 100%;
	
}

#contact select::-ms-expand {
    display: none;
}

#contact input[type="submit"] {
    background-color: var(--Purple);
    color: var(--White);
    border: none;
    padding: 20px 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer {
	background-color: var(--Light-gray);
	height: 100px;
	display: grid;
	grid-template-rows: auto auto auto;
	align-items: center;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px
}

footer p {
	padding-bottom: 10px;
}

footer a {
	padding-bottom: 10px;
}
footer p,
footer a {
    text-align: center;
    font-weight: normal; /* Remove the bold style */
    margin: 0;
}

@media screen and (min-width: 480px) {
	body {
		
	}
	
}






@media screen and (min-width: 769px) {
	
}




@media screen and (min-width: 1025px) {
	
}



@media screen and (min-width: 1201px) {
	
}


